h1{
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    margin-top: 50px;
}

.card{
    display: inline-block;
    position: inherit;
    margin: 50px;
}

.banner-img{
    width: 40%;
    height: 40%;
    margin:50px
}

